

 .App{
    position: absolute; 
    width: 1440px;
    height: 372px;
    left: -8px;
    top: -1px;
    background-image: url('/public/images/img10.jpg');
    background-size: cover;

}

.app__title{
    text-align: center;
    margin: 1rem auto;
    color: white;
    margin-bottom: 16rem;
    font-size: 4rem;
    text-shadow: -2px 2px 4px #000;
}

.app__form{
    display: flex;
    justify-content: center;
}

.app__input{
    border: none;
    padding-left: 0.5rem;
    width: 440px;
    margin: 0.19rem;
    margin-right: 0;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem; 
}

.app__btn{
    cursor: pointer;
    border: none;
    padding: 1rem;
    background-color: rgba(16, 123, 223, 0.788);
    color: white;  
    border-radius: 0.2rem;
    font-weight: 600; 
}

.app__btn:hover{ 
    background-color: rgba(57, 134, 189, 0.966);
    transform: scale(1.05);
    transition: transform 0.5s ease, background-color 0.5s ease;
    box-shadow: 1px 1px 2px rgba(229, 233, 240, 0.7);
    
}

.location__info{
    background-color:  #062226ef;
    background-color:  #0b3f47ef;
    background-color: rgba(16, 123, 223, 0.7);
    width: 500px;
    margin: 2rem auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px rgba(211, 240, 218, 0.747);
}

h2{
color: white;
text-align: center;
padding: 1rem;
padding-bottom: 2rem;
font-weight: 400;
}

.location__list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: white;
    margin-bottom: 1rem;
}
.location__list{
    font-weight: 200;
}

.residents-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    gap: 1rem;
}